npm-debug.log
*.exe
*.vshost.exe
*.exe.manifest
*.exe.config
*.pdb
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/
packages/*
setup/packages/*
setup/[Oo]bj
setup/[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
_ReSharper.*
*.resharper
*.orig
output
builtAssets
node_modules